
logs
level.dat
level.dat_old
session.lock
raids.dat
plugins/Essentials/userdata
/delnether/
/dungeon/
/elora/
/elora_nether/
/elora_the_end/
/test/
/world/
/world_nether/
/world_the_end/
usercache.json
plugins/Multiverse-Core/worlds.yml
plugins/ProtocolLib/lastupdate
plugins/Essentials/usermap.csv
plugins/Skript/backups/
plugins/Multiverse-Inventories/groups/
plugins/Multiverse-Inventories/players/
plugins/Multiverse-Inventories/worlds/
plugins/CustomCrafting/playerstats.dat
plugins/NoCheatPlus/nocheatplus.log
plugins/Skript/variables.csv
plugins/NoCheatPlus/nocheatplus.log.lck
plugins/WolfyUtilities/particles/particle_effects.json
plugins/WolfyUtilities/particles/particles.json
plugins/DiscordSRV/config.yml
plugins/DiscordSRV/discord-console-logs/
plugins/DiscordSRV/linkedaccounts.json
